extends ../index
block content
  .workout-container
    .workout-info(style='top: 0;')
      .workout-info-stats
        .stats-row
          .stats-item
            .stats-label Макс. скорость
            .stats-value #{formatSpeed(workout.maxSpeed)} км/ч
          .stats-item
            .stats-label Ср. скорость
            .stats-value #{formatSpeed(workout.meanSpeed)} км/ч
          .stats-item
            .stats-label Ср. темп
            .stats-value #{formatNumber(60 / workout.meanSpeed)} мин/км
        .stats-row
          .stats-item
            .stats-label Дистанция
            .stats-value #{formatNumber(workout.distance / 1000)} км
          .stats-item
            .stats-label Продолжительность
            .stats-value= formatTime(workout.time, 'HH:mm:ss.SSS')
          .stats-item
            .stats-label Время окончания
            .stats-value= formatTime(workout.finishedAt, 'hh:mm:ss')
      .workout-speed-graph
        h2.graph-label Скорость
        #speed-graph
      .workout-height-graph
        h2.graph-label Высота
        #height-graph
    .workout-map
      #map
  script.
    window.BACKEND_DATA = !{JSON.stringify(workout)};

  script(type='text/javascript').
    (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
    w.yaCounter36847725 = new Ya.Metrika({
    id:36847725,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
    } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  noscript
    div
      img(src='https://mc.yandex.ru/watch/36847725', style='position:absolute; left:-9999px;', alt='')
  // /Yandex.Metrika counter

